@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Raleway&display=swap');

:root {
    --fonte-principal: 'Kaushan Script', cursive;
    --fonte-secundaria: 'Raleway', sans-serif;
    --azul: #27488f;
    --texto-cinza: #d9d9e3;
    --fundo-cinza: #f9f3fa;
}

body {
    font-family: var(--fonte-secundaria);
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

h1, h2 {
    font-family: var(--fonte-principal);
    font-size: 1.5rem;
}

.container {
    display: flex;
    overflow: hidden;
}

.left {
    padding: 20px;
    width: 30vw;
    height: 100vh;
    background: var(--azul);
}

.right {
    background-color: var(--fundo-cinza);
    color: var(--azul);
    height: 100vh;
    overflow: auto;
    padding: 15px;
}

.right section {
    padding: 15px;
}

.btn {
    display: block;
    margin-bottom: 10px;
    padding: 10px 20px;
    color: var(--texto-cinza);
    cursor: pointer;
    text-decoration: none;
}