@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Raleway&display=swap");

:root {
  --fonte-principal: "Kaushan Script", cursive;
  --fonte-secundaria: "Raleway", sans-serif;
  --azul: #27488f;
  --texto-cinza: #d9d9e3;
  --fundo-cinza: #f9f3fa;
}

* {
  scroll-behavior: smooth;
}

body {
  font-family: var(--fonte-secundaria);
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

h1,
h2 {
  font-family: var(--fonte-principal);
  font-size: 1.5rem;
  padding-bottom: 20px;
}

p,
li {
  line-height: 24px;
  text-align: justify;
}

img {
  padding: 10px;
}

li {
  list-style: inside;
}

strong {
  font-weight: 700;
}

#img-centro {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  overflow: hidden;
}

.left {
  padding: 20px;
  width: 30vw;
  height: 100vh;
  background: var(--azul);
}

.right {
  background-color: var(--fundo-cinza);
  color: var(--azul);
  height: 100vh;
  overflow: auto;
  padding: 15px;
}

.right section {
  padding: 15px;
}

.btn {
  display: block;
  margin-bottom: 10px;
  padding: 10px 20px;
  color: var(--texto-cinza);
  cursor: pointer;
  text-decoration: none;
}

.btn-link {
  width: 10.24819rem;
  height: 3rem;
  flex-shrink: 0;
  color: var(--azul);
  border: none;
  outline: none;
  font-family: var(--fonte-secundaria);
  cursor: pointer;
  font-size: 1.0625rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.375rem; /* 129.412% */
  letter-spacing: -0.02563rem;
  border-radius: 0.625rem;
  background: linear-gradient(
      0deg,
      var(--grayish, #d9d9e3) 0%,
      var(--grayish, #d9d9e3) 100%
    ),
    var(--medium-blue, #029ece);
  background-blend-mode: normal, screen;
  backdrop-filter: blur(24.293127059936523px);
}

#identidade-container {
  display: flex;
  justify-content: space-evenly;
}

#requisitos-heading {
  font-weight: 700;
  margin-bottom: 12px;
}

.mt {
  margin-top: 24px;
}

#requisitos-funcionais {
  width: 100%;
}

#requisitos-funcionais-content,
#requisitos-nao-funcionais-content,
#users-contexts {
  border: 1px solid var(--texto-cinza);
  border-radius: 16px;
  padding: 8px 16px;
  margin-top: 8px;
}

#requisitos-categoria,
#requisitos-prioridade,
#requisitos-tipo,
#requisitos-obrigatoriedade,
#requisitos-durabilidade {
  display: flex;
  align-items: center;
  gap: 4px;
}

#doc-bpmn li {
  list-style: none;
}
